html, body {
	max-width: 100%;
    overflow-x: hidden; 
}

#chart {
	max-height: 500px;
	height: 100%;
}

#pcs_graph {
	text-align: center;
}

/* Displaying building quick info*/
ul {
	padding: 0;
}

.info_blocks li {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	max-width: 300px;
	padding: 12px;
	overflow-y: hidden;
	cursor: pointer;
	cursor: hand;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;	
}

/*.info_blocks li:nth-of-type(4n), .info_blocks li:nth-of-type(4n-3) {*/
/*.info_blocks li:nth-of-type(8n), .info_blocks li:nth-of-type(8n-2), .info_blocks li:nth-of-type(8n-5), .info_blocks li:nth-of-type(8n-7) {*/
.info_blocks li:nth-of-type(2n) {
	background-color: rgb(244, 244, 250);
}

.selected {
	background-color: rgb(168, 213, 172) !important;
}

.light-blue {
	background-color: #2196f3;
	color: #F1F6FA;
	font-weight: 100;
}

.h4 {
	margin-top: 0;
}